.blinking {
    animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
    0% {
        color: black;
    }
    50% {
        color: rgb(53, 199, 199);
    }
    75% {
        color: red;
    }
    100% {
        color: purple;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    height: 95%;
    min-height: 95%;
    background-color: black;
}

.inner_2 {
    float: left;
}

#welcome_message {
    text-align: center;
    height: 5%;
    background-color: black;
}

#filter {
    margin-left: 5%;
}

#box-1 {
    margin: auto;
    width: 95%;
    height: 90%;
}

#selector-1 {
    margin: 1%;
}

.buttons {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#select_all {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    float: left;
}

#clear_div,
#select_all_div {
    margin-left: 2%;
}

#contenttype {
    margin-left: 10%;
}

#days,
#httpmethod,
#isp {
    margin-left: 5%;
}

#contenttype_3_div {
    margin-left: 10%;
}

#isp_3_div {
    margin-left: 5%;
}

.buttons_div {
    margin-left: 5%;
    float: left;
}

#graph_3 {
    margin-top: 10%;
}