.blinking {
    animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
    0% {
        color: black;
    }
    50% {
        color: cyan;
    }
    75% {
        color: red;
    }
    100% {
        color: purple;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    height: 95%;
    min-height: 95%;
    background-color: black;
}

.inner_2 {
    float: left;
}

#welcome_message {
    text-align: center;
    height: 5%;
    background-color: black;
}

#box-1 {
    margin: auto;
    width: 95%;
    height: 90%;
}

#box-4 {
    border-top: 1px solid red;
}

#box-3 {
    border-right: 1px solid red;
    border-top: 1px solid red;
}

#selector-1 {
    margin: 1%;
}

#filter {
    margin-left: 5%;
    width: 5%;
    height: 4%;
}

#submit {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#clear {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#select_all {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#clear_div,
#select_all_div {
    margin-left: 2%;
}

#contenttype {
    margin-left: 10%;
}

#days {
    margin-left: 5%;
}

#httpmethod {
    margin-left: 5%;
}

#isp {
    margin-left: 5%;
}