body {
    /* background-color: rgba(53, 54, 54, 0.781); */
    background-color: black;
}

#page_wrap {
    width: 100%;
    margin: 0 auto;
}

.outer_div {
    align-items: center;
    width: 94%;
    background-color: black;
    position: absolute;
    height: 25%;
    border: 2px solid white;
    margin-left: 2.5%;
}

.blinking {
    animation: blinkingText 4s infinite;
}

@keyframes blinkingText {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

.inner_div {
    margin-left: 1.5%;
    align-items: center;
    width: 31%;
    background-color: black;
    position: absolute;
    height: 40%;
    top: 25%;
    border: 0.5px solid red;
    padding: 1.5%;
    padding-bottom: 2%;
}

#second_inner_div {
    left: 34.5%;
}

#third_inner_div {
    width: 25%;
    left: 69%;
}

.buttons {
    width: 20%;
    margin-left: 84%;
    /* margin-top: 1%; */
    border-radius: 5px;
}

.forms {
    width: 100%;
}

#change_form {
    margin-top: 8%;
}

#save {
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

label {
    color: white;
}

#welcome_message {
    color: white;
}

#har_selector {
    border-radius: 5px;
    width: 15%;
    color: white;
}

#upload_message {
    margin-top: auto;
    text-align: left;
    color: white;
}

#selected_file_name {
    color: white;
    display: inline;
}

#mapid {
    text-align: center;
    color: white;
    /* background-color: white; */
    margin-left: 2.5%;
    height: 69%;
    top: 30%;
    align-items: center;
    width: 94%;
    position: absolute;
    border: 2px solid red;
}

#no_entries {
    font-weight: bold;
    text-align: center;
    background-color: black;
    align-items: center;
    margin-left: 2.5%;
    width: 95%;
    position: absolute;
    top: 27.5%;
    height: 1%;
    color: white;
}

#welcome_message {
    margin-left: 1%;
}