.blinking {
    animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: green;
    }
    60% {
        color: cyan;
    }
    99% {
        color: purple;
    }
    100% {
        color: rgb(235, 13, 224);
    }
}

body {
    background-color: white
}

h1 {
    width: 100%;
    text-align: center;
}

.reset {
    left: 25%;
    top: 10%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 25%;
    background-color: black;
    position: absolute;
    height: 30%;
    top: 30%;
    border: 2px solid white;
    padding: 30px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.form {
    margin-top: 15px;
    width: 80%;
}

.buttons {
    width: 25%;
    /* margin-left: 85%; */
    margin-top: 3%;
    border-radius: 5px;
}

#pass_div {
    left: 75%;
}

.message {
    color: red;
    /* text-align: center; */
}